#failure-box {
  padding-top: 10px;
}

#failure-box {
 padding-bottom: 2%;
}

#fail-message {
  color: red;

}

.box {
  color: black;
  padding-top: 3%;
}

.origin {
  color: green;
  padding-top: 2%;
  font-size: 120%;
}

.destination {
  color: green;
  padding-top: 0.5%;
  font-size: 120%;
}

.route-distance {
  color: blue;
  padding-top: 1%;
  font-size: 90%;
}

.route-time {
  color: blue;
  padding-top: 0.5%;
  font-size: 90%;
}

.map-container {
  padding-top: 4%;
}

#menu {
background-color: whitesmoke;
}

.total-price {
  color: green;
}

.navigation-bar {
 
}